<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link href="\main.css" rel="styleSheet">
</head>
    
    <body class="grey-bg">

      <%- include('nav.ejs', { user: user })%>

      <div class="horsebox" data-index="7"></div>
      <div class="horsebox" data-index="6"></div>
      <div class="horsebox" data-index="5"></div>
      <div class="horsebox" data-index="4"></div>
      <div class="horsebox" data-index="3"></div>
      <div class="horsebox" data-index="2"></div>
      <div class="horsebox" data-index="1"></div>
      <div class="horsebox" data-index="0"></div>

      <div class="cardBox">
        <div class="box1"></div>
        <button id="button1">카드뽑기</button>
      </div>




<script type="module" src="card.js"></script>
<script type="module">
  import { createDeck, drawCard, selectCard, wait } from './card.js';
  let Hcount=0, Dcount=0, Scount=0, Ccount=0
  let Hpoint=0, Dpoint=0, Spoint=0, Cpoint=0
  let PointCard = {}
  let HA, DA, SA, CA

  function courseCard(Card, locate){
    cardDetail = `<div class="card ♥">
                    <span class="${Card.suit === '♥' || Card.suit === '♦' ? 'red' : ''}">${Card.suit}</span>
                    <span>${Card.value}</span>
                    </div>`
    document.querySelector(locate).insertAdjacentHTML('beforeend', cardDetail)
  }

  function startCard(){
    createDeck()
    HA = selectCard("♥", "A")
    HA = `<div class="card ♥">
                    <span class="red">${HA.suit}</span>
                    <span>${HA.value}</span>
                    </div>`
    document.querySelector('[data-index="0"]').insertAdjacentHTML('beforeend', HA)
    DA = selectCard("♦", "A")
    DA = `<div class="card ♦">
                    <span class="red">${DA.suit}</span>
                    <span>${DA.value}</span>
                    </div>`
    document.querySelector('[data-index="0"]').insertAdjacentHTML('beforeend', DA)
    SA = selectCard("♠", "A")
    SA =`<div class="card ♠">
                    <span>${SA.suit}</span>
                    <span>${SA.value}</span>
                    </div>`
    document.querySelector('[data-index="0"]').insertAdjacentHTML('beforeend', SA)
    CA = selectCard("♣", "A")
    CA = `<div class="card ♣">
                    <span>${CA.suit}</span>
                    <span>${CA.value}</span>
                    </div>`
    document.querySelector('[data-index="0"]').insertAdjacentHTML('beforeend', CA)

    Hcount = 0
    Dcount = 0
    Scount = 0
    Ccount = 0
    PointCard = {}

    for(let i = 0; i < 7; i++){
      PointCard[i] = drawCard()
      switch(PointCard[i].suit) {
        case "♥": Hcount++;
          break;
        case "♦": Dcount++;
          break;
        case "♠": Scount++;
          break;
        case "♣": Ccount++;
          break;
      }
      if(Hcount >= 5 || Dcount >= 5 || Scount >= 5 || Ccount >= 5){
        document.querySelectorAll('.horsebox').forEach(element => {element.innerHTML = ''})
        startCard()
      }
    }
    console.log(PointCard[0])
      for(let i =0; i < 7; i++){
      let Course = `<div class="card">
                      <span class="${PointCard[i].suit === '♥' || PointCard[i].suit === '♦' ? 'red' : ''}">${PointCard[i].suit}</span>
                      <span>${PointCard[i].value}</span>
                      </div>`
      document.querySelector(`[data-index="${i+1}"]`).insertAdjacentHTML('beforeend', Course)
    }
    Hpoint=0, Dpoint=0, Spoint=0, Cpoint=0
    raceCard()
  }
  startCard()


  function raceCard(){
      let raceSuit = drawCard()
      console.log(raceSuit)
      
      document.querySelectorAll('.box1').forEach(element => {
          element.remove()
          })
      let Course = `<div class="card">
                      <span class="${raceSuit.suit === '♥' || raceSuit.suit === '♦' ? 'red' : ''}">${raceSuit.suit}</span>
                      <span>${raceSuit.value}</span>
                      </div>`
      document.querySelector(`.box1`).insertAdjacentHTML('beforeend', Course)

      switch(raceSuit.suit) {
        case "♥":
          document.querySelectorAll('.card.♥').forEach(element => {
          element.remove()
          })
          Hpoint++
          document.querySelector(`[data-index="${Hpoint}"]`).insertAdjacentHTML('beforeend', HA)
          break;
        case "♦":
          document.querySelectorAll('.card.♦').forEach(element => {
          element.remove()
          })
          Dpoint++
          document.querySelector(`[data-index="${Dpoint}"]`).insertAdjacentHTML('beforeend', DA)
          break;
        case "♠":
          document.querySelectorAll('.card.♠').forEach(element => {
          element.remove()
          })
          Spoint++
          document.querySelector(`[data-index="${Spoint}"]`).insertAdjacentHTML('beforeend', SA)
          break;
        case "♣":
          document.querySelectorAll('.card.♣').forEach(element => {
          element.remove()
          })
          Cpoint++
          document.querySelector(`[data-index="${Cpoint}"]`).insertAdjacentHTML('beforeend', CA)
          break;   
     }
  }

  document.getElementById("button1").addEventListener("click", raceCard);

  function checkPoint() {
  const Points = {Hpoint, Dpoint, Spoint, Cpoint};

  for (const [point, value] of Object.entries(Points)) {
    if (value >= 8) {
      temp(point)//point에 해당하는 에이스 승리
      return
    }
  }
  raceCard()
}

//카드 출력을 별도의 함수로 제작 필요
  
</script>
    </body>
</html>