<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link href="\main.css" rel="styleSheet">
</head>
    
    <body class="grey-bg">

      <%- include('nav.ejs', { user: user })%>

      모양별 에이스 4장 선별 후 가로로 나열
수직으로 카드 7장 나열
이때 같은모양 5개 이상시 초기화 후 처음부터 다시
모양 선택 버튼x4
버튼누르면 게임시작 카드뽑기 반복(간격 존재)
예)
#
#
#
#
#
#
#
  A B C D
  | | | | 점수


스크립트 구성
card.js기능호출
버튼 누르면 랜덤 카드 호출 반복
호출한 카드 따라 A,B,C,D DIV박스 이동(+카운트)
카운트가 8이되면 해당 모양 승리
초기화

연결:server.js-game/card.js

      <div class="horsebox 6"></div>
      <div class="horsebox 5"></div>
      <div class="horsebox 4"></div>
      <div class="horsebox 3"></div>
      <div class="horsebox 2"></div>
      <div class="horsebox 1"></div>
      <div class="horsebox 0"></div>
      <div class="horsebox start"></div>


<script type="module" src="card.js"></script>
<script type="module">
  import { createDeck, drawCard, selectCard } from './card.js';
  let Hcount=0, Dcount=0, Scount=0, Ccount=0
  let PointCard = {}

  function startCard(){
    createDeck()
    const HA = selectCard("♥", "A")
    const CardHA = `<div class="card">
                    <span class="red">${HA.suit}</span>
                    <span>${HA.value}</span>
                    </div>`
    document.querySelector('.start').insertAdjacentHTML('beforeend', CardHA)
    const DA = selectCard("♦", "A")
    const CardDA = `<div class="card">
                    <span class="red">${DA.suit}</span>
                    <span>${DA.value}</span>
                    </div>`
    document.querySelector('.start').insertAdjacentHTML('beforeend', CardDA)
    const SA = selectCard("♠", "A")
    const CardSA =`<div class="card">
                    <span>${SA.suit}</span>
                    <span>${SA.value}</span>
                    </div>`
    document.querySelector('.start').insertAdjacentHTML('beforeend', CardSA)
    const CA = selectCard("♣", "A")
    const CardCA = `<div class="card">
                    <span>${CA.suit}</span>
                    <span>${CA.value}</span>
                    </div>`
    document.querySelector('.start').insertAdjacentHTML('beforeend', CardCA)

    Hcount = 0
    Dcount = 0
    Scount = 0
    Ccount = 0
    PointCard = {}

    for(let i = 0; i < 7; i++){
      PointCard[i] = drawCard()
      switch(PointCard[i].suit) {
        case "♥": Hcount++;
          break;
        case "♦": Dcount++;
          break;
        case "♠": Scount++;
          break;
        case "♣": Ccount++;
          break;
      }
      if(Hcount >= 5 || Dcount >= 5 || Scount >= 5 || Ccount >= 5){
        document.querySelectorAll('.horsebox').forEach(element => {element.innerHTML = ''})
        startCard()
      }
    }
      for(let i =0; i < 7; i++){
      let Course = `<div class="card">
                      <span>${PointCard[i].suit}</span>
                      <span>${PointCard[i].value}</span>
                      </div>`
      document.querySelector(`.${i}`).insertAdjacentHTML('beforeend', Course)
    }
  }
  startCard()


</script>
    </body>
</html>